
html {
  height:100vh;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  align-items: center;
  color: white;
  background-color: black;
  height: 60px;
}

#nav-bar-left {
  display: flex;
  justify-content: left;
}

#nav-bar-right {
  display: flex;
  justify-content: right;
  align-items: center;
  
}

#nav-bar-right div {
  margin: 0px 5px;
}

.mini-avatar {
  width: 40px;
  border-radius: 20px;
}

.medium-avatar {
  width:150px;
  border-radius: 75px;
}

#account-settings {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
}

#main-bottom {
  height: calc(100vh - 60px);
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/hotel-wallpaper.png');
}

.account-details {
  min-width: 50vw;
  background: white;
  filter: drop-shadow(10px 5px 2px #00000061);
  border-radius: 15px;
  border: rgba(0, 0, 0, 0.164) solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.account-details-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.h-line {
  width: 95%;
  height:1px;
  background: black;
}

.account-details-top div img {
  margin: 10px 10px;
  
}

.account-details-username {
  margin-left: 10px;
  font-size: 60px;
}

#dashboard-container {
  display: flex;
  justify-content: flex-start;
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: rgb(155, 155, 155) solid 1px;
  background-color: rgba(255, 255, 255, 0.906);
  border-radius: 15px;
  /* width: 200px; */
}

.dashboard-right {
  margin-left: 100px;
}

.dashboard-user-info {
  display: flex;
  flex-direction: column;
}